.githubLink {
    z-index: 20;
    width: 25px;
}

:root {
    --size: 125px;
    --half-size: 62.5px;
    --perspective: 800px;
}

.scene {
    width: var(--size);
    height: var(--size);
    margin: 50px auto;
    perspective: var(--perspective); 
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg); 
    transition: transform 1s ease-in-out; 
}

.face {
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: rgb(75, 221, 197);
    color: white;
}

.front {
    transform: translateZ(var(--half-size));
}

.left {
    transform: rotateY(-90deg) translateZ(var(--half-size));
}

.top {
    transform: rotateX(90deg) translateZ(var(--half-size));
}

.portfolio {
    margin: 55% 160%;
    width: 20vw;
    height: 45vh;
    position: relative;
    perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.projectMedia {
    width: 18vw;
    height: auto;
    max-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    transition: max-height 0.5s ease-in-out;
}

.projectMedia img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #05131f;
    width: 20vw;
    height: 45vh; 
    padding: 0 10%;
    padding-top: 10%;
    color: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.3s, justify-content 0.7s ease-out;
}

.a {
  transform: rotateY(0deg) translateZ(20vw);
}
.b {
  transform: rotateY(calc(1*(360deg / 6))) translateZ(20vw);
}
.c {
  transform: rotateY(calc(2*(360deg / 6))) translateZ(20vw);
}
.d {
  transform: rotateY(calc(3*(360deg / 6))) translateZ(20vw);
}
.e {
  transform: rotateY(calc(4*(360deg / 6))) translateZ(20vw);
} 

.f {
  transform: rotateY(calc(5*(360deg / 6))) translateZ(20vw);
}

.next, .prev {
  position: absolute;
  top: 30%;
  padding: 0;
  cursor: pointer;
}

.next polyline, .prev polyline {
  font-size: 60px;
  stroke: #afafaf;
  transition: stroke 0.3s;
  filter: drop-shadow(0 0 10px rgb(0, 183, 255));
}

.next:hover polyline, .prev:hover polyline{
   stroke: #e9e9e9;
}

.next { left: 30em; }
.prev { right: 30em; }

.projectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: transform 0.7s;
}

.projectTitle a {
  text-decoration: none;
}

.projectTitle i {
  color: rgba(97, 255, 255, 0.788);
}

.projectTitle h2 {
  margin: 0 10px;
  padding: 0;
}

.description {
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transform: scaleY(0);
    transition: opacity 1.3s, max-height 2s, transform 2s;
}

.description p {
  font-size: 14px;
  text-align: justify;
}

.tags {
  display: flex;
  align-items:flex-start;
  list-style-type: none;
  padding: 0;
  justify-content: flex-start;
}

.tag {
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #444;
  font-size: 12px;
  display: inline-block;
}

.project.is-front {
    box-shadow: 0 0 30px rgb(117, 216, 255);
}

.project.is-front .description {
    opacity: 1;
    max-height: 40vh;
    transform: scaleY(1);
    transform: translateX(0);
}

.project.is-front .projectMedia {
    max-height: 18vh;
}

.project.is-front .cube.is-3d {
    transform: rotateX(-30deg) rotateY(45deg);
}