@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.homeSection {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 20vh 75vw;
}

.homeInfo {
    background: #000;
    transform: scale(0);
    width: 50%;
    height: 65vh;
}

.homeInfo h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
}

.homeAnimation {
    background: radial-gradient(
        circle, 
        rgba(7, 46, 51, 0.842) 30%,
        transparent 55%
    );
    border-radius: 50%;
    padding: 8%;
    transform: scale(0);
}
