.homeSection {
    margin: 20vh 70vw;
}

.homeInfo {
    position: absolute;
    overflow: hidden;
    background-color: #13222bcc;
    background-image: linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%), linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%); background-size: 100% 4px;
    transform: scale(0);
    border-radius: 10px;
    border: solid 2px #078a9bcc;
    box-shadow: 0 0 30px rgb(117, 216, 255);
    width: 35vw;
    height: 65vh;
    padding: 1% 2.5%;
}

.homeInfo h1 {
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 5px rgba(0, 230, 246, 0.7),
        0 0 10px rgba(0, 230, 246, 0.5);
    text-align: center;
    font-weight: 700;
    font-size: clamp(40px, 5vw, 50px);
}

.homeInfo h3 {
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 5px rgba(0, 230, 246, 0.7),
        0 0 10px rgba(0, 230, 246, 0.5);
    text-align: center;
    font-size: clamp(18px, 5vw, 22px);
}

#changing-text::after {
    content: '|';
    display: inline-block;
    color: #00e6f6;
    margin-left: 3px;
    animation: blink-cursor 0.75s step-end infinite;
}

@keyframes blink-cursor {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.homeInfo p {
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 5px rgba(0, 0, 0, 0.7),
        0 0 10px rgba(0, 0, 0, 0.5);
    margin: 7.5% 0;
    text-align: justify;
    font-size: clamp(15px, 5vw, 19px);
}

.homeInfo ul {
    font-size: clamp(12px, 5vw, 16px);
    display: flex;
    list-style: none;
}

.homeInfo a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.usualTech li {
    background: #041e22b6;
    background-color: rgb(66, 66, 66);
    border: 3px solid #24242473;
    border-radius: 5px;
    padding: 0.5em;
    margin-right: 1em;
    font-size: clamp(12px, 5vw, 16px);
}

.pageLinks a {
    background: #363636;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 5px 5px 0px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s;
    position: relative;
    padding: 0.5em;
    margin: 2vh 0;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-right: 1em;
    font-size: clamp(13px, 5vw, 17px);
}

.pageLinks i {
    margin-left: 1em;
}

.pageLinks a:active {
    top: 2px;
    left: 2px;
    box-shadow: 1px 1px 0px #000000;
    transition: all .2s;
}

.socialLinks {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.icon {
    display: inline-flex;
    width: 2vw;
    height: 2vw;
    text-decoration: none;
    font-size: 25px;
    outline: 2px solid white;
    border-radius: 50%;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
    color: white;
}

.icon:hover {
  outline-offset: 4px;
}

.icon i {
    margin: auto;
    font-size: clamp(20px, 5vw, 25px);
}

.gitIcon:hover {
    background-color: #555555;
    outline-color: #555555;
}

.inIcon:hover {
    background-color: #0a66c2;
    outline-color: #0a66c2;
}

.stackIcon:hover {
    background-color: rgb(255, 136, 0);
    outline-color: rgb(255, 136, 0);
}

.icon:hover i {
    animation: shake 0.25s;
} 

.homeAnimation {
    position: absolute;
    top: 15vh;
    left: 105vw;
    background: radial-gradient(
        circle, 
        rgba(5, 32, 36, 0.897) 30%,
        transparent 45%
    );
    border-radius: 50%;
    padding: 8%;
    transform: scale(0);
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
}

@keyframes clockWise {
    0% {
        transform: rotate(0deg);
    }
    49% {
        transform: rotate(360deg);
        opacity: 1;
    }
    
    50% {
        transform: rotate(360deg);
        opacity: 0;
    }

    51% {
        transform: rotate(352.6530deg);
        opacity: 1;
    }
    
    99% {
        transform: rotate(0deg);
    }
}

@keyframes antiClockWise {
    0% {
        transform: rotate(0deg);
    }
    49% {
        transform: rotate(-360deg);
        opacity: 1;
    }
    
    50% {
        transform: rotate(-360deg);
        opacity: 0;
    }

    51% {
        transform: rotate(-352.6530deg);
        opacity: 1;
    }
    
    99% {
        transform: rotate(0deg);
    }
}

#outRing {
    transform-origin: center;
    animation: clockWise 5s linear infinite;
    transition: transform 0.3s ease-out;
}

#subOutRing {
    transform-origin: center;
    animation: antiClockWise 7s linear infinite;
}

#decorRing path {
    transform-origin: center;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#decorRing_1, #decorRing_3 {
    animation-name: clockWise;
    animation-duration: 13s;
}

#decorRing_2, #decorRing_4 {
    animation-name: antiClockWise;
    animation-duration: 10s;
}

#middleRing {
    transform-origin: center;
    animation: clockWise 11s linear infinite;
}

#innerRing {
    transform-origin: center;
    animation: antiClockWise 5s linear infinite;
}

#core {
    transform-origin: center;
    animation: clockWise 4s linear infinite;
}

#HomeCoreAnimation path {
    transform: scale(0);
    transform-origin: center;
}

.aboutSection {
    margin-top: 93vh;
    margin-left: 10vw;
}

.aboutMe {
    transform: scale(0);
    position: absolute;
    overflow: hidden;
    background-color: #13222bcc;
    background-image: linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%), linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%); background-size: 100% 4px;
    border-radius: 10px;
    border: solid 2px #078a9bcc;
    box-shadow: 0 0 30px rgb(117, 216, 255);
    width: 40vw;
    height: 65vh;
    padding: 3vw 3vw;
}

.aboutMe h1, .aboutMe h3{
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 5px rgba(0, 230, 246, 0.7),
        0 0 10px rgba(0, 230, 246, 0.5);
    text-align: center;
    margin: 2% 0;
}

.aboutMe h1 {
    font-weight: 700;
    font-size: clamp(40px, 5vw, 50px);
}

.aboutMe h3 {
    font-size: clamp(18px, 5vw, 22px);
}

.aboutMe p {
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 5px rgba(0, 0, 0, 0.7),
        0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 7.5%;
    text-align: justify;
    font-size: clamp(12px, 5vw, 17px);
}

.aboutMe ul {
    font-size: clamp(12px, 5vw, 16px);
    display: flex;
    list-style: none;
}

.aboutMe a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.fotoSection {
    display: flex; 
    justify-content: center;
    align-items: center;
    transform: scale(0);
    padding: 0.5em;
    position: absolute;
    border-radius: 50%;
    width: 45vw;
    height: 45vw;
    top: -10vh;
    left: 40vw;
    background: radial-gradient(
        circle, 
        rgba(5, 32, 36, 0.945) 30%,
        transparent 45%
    );
    position: relative;
    overflow: hidden;
}

.fotoSection svg path, #profileFoto {
    opacity: 0;
    transform: scale(0);
}

.fotoSection svg {
    position: absolute;
    width: 45%;
    height: 45%;
    z-index: 40;
}

.fotoSection img {
    border: solid 1px #9DF8FF;
    box-shadow: 0 0 2px rgb(117, 216, 255);
    border-radius: 50%;
    width: 35%; 
    height: 35%;
    align-self: center; 
    justify-self: center;
    z-index: 60; 
    animation: desapear 10s linear infinite;
    transition: all 0.6s;
}

.fotoSection img:hover {
    width: 38%;
    height: 38%;
    box-shadow: 0 0 20px rgb(117, 216, 255);
}

@keyframes desapear {
    0% {
        opacity: 0.8;
    }

    1% {
        opacity: 0;
    }

    2% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.8;
    }
}

#fotoRing {
    transform-origin: center;
    animation: clockWise 7s linear infinite;
}

#ringGroup path {
    transform-origin: center;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#middleRingGroup_2, #outRingGroup {
    animation-name: clockWise;
    animation-duration: 10s;
}

#innerRingGroup, #middleRingGroup_1 {
    animation-name: antiClockWise;
    animation-duration: 10s;
}

#outFotoRing {
    transform-origin: center;
    animation: antiClockWise 5s linear infinite;
}

.contactSection {
    margin-top: 87vw;
    margin-left: 77vw;
    width: 52vw;
    transform: scale(0);
}

.contactSection h1 {
    overflow: hidden;
    background-color: #13222bcc;
    background-image: linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%), linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%); background-size: 100% 4px;
    border-radius: 10px;
    border: solid 2px #078a9bcc;
    box-shadow: 0 0 30px rgb(117, 216, 255);
    width: 30vw;
    margin-left: 22.5%;
    padding: 1em;
    text-align: center;
    font-size: clamp(32px, 5vw, 36px);
}

.contactSection h1, .contactSection h2 {
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 10px rgba(0, 230, 246, 0.877),
        0 0 15px rgba(0, 230, 246, 0.856);
    text-align: center;
}

.contactMethods {
    margin-top: 1vh;
    transform: scale(0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 52vw;
}

.contactMethods h2 {
    margin-top: 15%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #13222bcc;
    background-image: linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%), linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%); background-size: 100% 4px;
    border-radius: 10px;
    border: solid 2px #078a9bcc;
    box-shadow: 0 0 30px rgb(117, 216, 255);
    width: 25vw;
    height: 55vh;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 15%;
}

.inputGroup {
    position: relative;
    margin-bottom: 2em;
    width: 100%;
}

.inputGroup input, .inputGroup textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #50dcffa1 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    font-size: clamp(12px, 5vw, 16px);
    width: 100%;
    padding: 0.5em 1em;
    color: aliceblue;
    transition: all 0.5s;
}

.inputGroup textarea {
    resize: none;
}

.inputGroup input:focus,
.inputGroup input:valid,
.inputGroup textarea:focus,
.inputGroup textarea:valid {
    outline: 0;
    border-bottom-color: #9DF8FF;
}

.inputGroup input:-webkit-autofill,
.inputGroup input:-webkit-autofill:hover, 
.inputGroup input:-webkit-autofill:focus, 
.inputGroup input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0c252be3 inset !important;
    -webkit-text-fill-color: aliceblue !important; 
}

.inputGroup label {
    position: absolute;
    top: 0.2vh;
    left: 1em;
    pointer-events: none;
}

.inputGroup label span {
    display: inline-block;
    font-size: clamp(12px, 5vw, 16px);
    color: aliceblue;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.inputGroup input:focus+label span,
.inputGroup input:not(:placeholder-shown)+label span,
.inputGroup textarea:focus+label span,
.inputGroup textarea:not(:placeholder-shown)+label span {
    color: lightblue;
    transform: translateY(-100%);
}

.contactForm button {
    --c1: #000000;
    --c2: #50dcffa1;
    width: fit-content;
    padding: 0.5em 1em;
    border: 0.3em solid var(--c2);
    border-radius: 0.3em;
    background: transparent;
    overflow: hidden;
    position: relative;
    font-size: clamp(12px, 5vw, 16px);
    transition: all 300ms cubic-bezier(0.83, 0, 0.17, 1);
    cursor: pointer;
    & > #buttonContent {
        color: var(--c2);
        font-weight: bold;
        position: relative;
        z-index: 100;
        transition: all 700ms cubic-bezier(0.83, 0, 0.17, 1);
    }
}

.contactForm button::after {
    content: "";
    width: 0;
    height: calc(300% + 1em);
    position: absolute;
    translate: -50% -50%;
    inset: 50%;
    rotate: 30deg;
    background-color: var(--c2);
    transition: all 1000ms cubic-bezier(0.83, 0, 0.17, 1);
}

.contactForm button:hover {
    box-shadow: 0 0 10px rgb(117, 216, 255);
    & > #buttonContent {
        color: var(--c1);
    }
    &::after {
        width: calc(120% + 1em);
    }
}

.contactForm button:active {
    box-shadow: 0 0 10px rgb(117, 216, 255);
    scale: 0.98;
    filter: brightness(0.9);
}

.contactData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #13222bcc;
    background-image: linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%), linear-gradient(rgba(10, 25, 30, 0.5) 50%, transparent 50%); background-size: 100% 4px;
    border-radius: 10px;
    border: solid 2px #078a9bcc;
    box-shadow: 0 0 30px rgb(117, 216, 255);
    width: 25vw;
    height: 55vh;
    padding: 0 2em;
}

.contactLinks {
    margin-bottom: 15%;
}

.contactData ul {
    font-size: clamp(12px, 5vw, 16px);
    display: flex;
    list-style: none;
}

.contactData .pageLinks {
    margin-top: 10%;
}

.contactData a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.contactData p {
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-size: clamp(13px, 5vw, 17px);
}

.contactData p i {
    color: #00e6f6;
}

.copiable-text {
    cursor: pointer;
    transition: all 0.6s;
}

.copiable-text:hover {
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 5px rgb(0, 230, 246),
        0 0 10px rgb(0, 230, 246);
}

.copy-feedback {
    position: absolute;
    display: block;
    height: 1.2em;
    color: #4CAF50;
    font-size: 0.9em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.copy-feedback.show {
    opacity: 1;
}

.flash-container {
    position: relative; 
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 20px; 
    overflow: hidden;
}

.flash-message {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 18vw;
    transform: translate(-50%, 0) scale(0); 
    transform-origin: center;
    z-index: 1000;
    padding: 1.5em;
    border-radius: 5px;
    font-weight: bold;
    white-space: wrap;
    text-shadow: 
        1px 1px 0 #000000, 
        -1px -1px 0 #000000,
        
        0 0 5px rgb(48, 48, 48),
        0 0 10px rgb(58, 58, 58);
    animation: flash-deploy 0.8s forwards ease-out;
}

.flash-message.hidden {
    animation: flash-retract 0.5s forwards ease-in;
}

@keyframes flash-deploy {
    0% {
        transform: translate(-50%, 0) scaleY(0.1) scaleX(0);
    }
    55% {
        transform: translate(-50%, 0) scaleY(1.05) scaleX(0);
    }
    60% {
        transform: translate(-50%, 0) scaleY(1) scaleX(0.1);
    }
    90% {
        transform: translate(-50%, 0) scaleY(1) scaleX(1.05);
    }
    100% {
        transform: translate(-50%, 0) scaleY(1) scaleX(1);
    }
}

@keyframes flash-retract {
    0% { 
        transform: translate(-50%, 0) scaleY(1) scaleX(1);
    }
    10% {
        transform: translate(-50%, 0) scaleY(1) scaleX(1.05);
    }
    40% {
        transform: translate(-50%, 0) scaleY(1) scaleX(0.1);
    }
    50% {
        transform: translate(-50%, 0) scaleY(1.05) scaleX(0);
    }
    100% {
        transform: translate(-50%, 0) scaleY(0.1) scaleX(0);
        visibility: hidden;
    }
}

.flash-success {
    background-color: #38814acc;
    background-image: linear-gradient(rgba(27, 68, 23, 0.5) 50%, transparent 50%), linear-gradient(rgba(30, 87, 33, 0.5) 50%, transparent 50%); background-size: 100% 4px;
    border: 1px solid #28a746a1;
    box-shadow: 0 0 20px rgb(138, 255, 134);
}

.flash-error {
    background-color: #472123cc;
    background-image: linear-gradient(rgba(30, 10, 10, 0.5) 50%, transparent 50%), linear-gradient(rgba(30, 10, 10, 0.5) 50%, transparent 50%); background-size: 100% 4px;
    border: 1px solid #dc354694;
    box-shadow: 0 0 20px rgb(255, 134, 134);
}