* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #11161F;
    color: white;
    scrollbar-width: none;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

#backgroundContainer {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#backgroundContainer svg {
    width: 200%;
    height: auto; 
    display: block;
}

#content {
    position: relative;
    z-index: 20;
}

.newContent, .oldContent{
    position: absolute;
}

nav {
    z-index: 1000;
    padding: 2.5% 2.5%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.navigate {
    display: flex;
    padding: 20px 40px;
    width: 40%;
    background-color: rgba(8, 7, 26, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    list-style-type: none;
    justify-content: space-between;
}

.navigate li {
    display: inline-block;
    text-shadow: 
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    font-size: 1.2rem;
    font-weight: bold;
}

.navigate a {
    padding: 15px 25px;
    color: white; 
    text-decoration: none;
    transition: all 0.5s;
}

.navigate a:hover {
    background-color: rgba(8, 7, 26, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.navigateIndicator {
    background-color: rgba(8, 7, 26, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.center {
    background: none;
    border: none;
    width: 5%;
    padding: 0;
    outline: none;
    position: relative;
}

.center img {
    display: block;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
