<div class="homeSection">
    <div class="homeInfo">
        <h1>Junior Full-Stack Developer</h1>
        <h3>Desarrollador Full-Stack en crecimiento</h3>
        <span>La programación ofrece las herramientas que nos permiten materializar la creatividad, convirtiendo cada línea de código en una forma de expresión artística, funcional y enfocada en hacer realidad la versión digital de nuestros pensamientos.</span>
        <a href="#" data-page="projects"></a>
    </div>
    <div class="homeAnimation">
        {% include "homeAnimation.html" %}
    </div>
</div>