<div class="homeSection">
    <div class="homeInfo">
        <h1>Junior Full-Stack Developer</h1>
        <h3>Desarrollador Full-Stack en <span id="changing-text">crecimiento</span></h3>
        <p>Soluciones innovadoras para crear experiencias digitales con interacciones dinámicas y funcionalidades interesantes.</p>
        <ul class="usualTech">
            <li>Python</li>
            <li>JavaScript</li>
            <li>C-Sharp</li>
        </ul>
        <ul class="pageLinks">
            <li><a href="#" data-page="projects">Projects<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
            <li><a href="#" data-page="contact">Contact<i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="socialLinks">
            <li><a href="https://github.com/JimmyMunozN" class="icon gitIcon"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jimmy-muñoz-613b00302/?trk=opento_sprofile_goalscard" class="icon inIcon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="https://stackoverflow.com/users/31647090/jimmy-muñoz" class="icon stackIcon"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="homeAnimation">
        {% include "homeAnimation.html" %}
    </div>
</div>