<div class="portfolioSection">
    <div class="portfolioButtons">
        <button class="projectsButton" id="projectContent">
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            <h4>Projects</h4>
        </button>
        <button class="techStackButton">
            <i class="fa fa-database" aria-hidden="true"></i>
            <h4>Tech Stack</h4>
        </button>
        <a href="https://github.com/JimmyMunozN?tab=repositories">
            <button class="githubButton">
                <i class="fa fa-github"></i>
                <h4>Github</h4>
            </button>
        </a>
    </div>

    <div class="portfolio">
        <div class="carousel" id="">
            <div class="project a">
                <div class="details">
                    <header class="projectTitle">
                        <h2>LogiSight</h2>
                        <a class='githubLink' href="https://github.com/JimmyMunozN/RA_Logistic"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </header>
                    <main class="description">
                        <p>Simula la manipulación completa de una caja contenedora en el espacio real, incluyendo la apertura, reubicación y desensamblaje de la base, finalmente la caja se posiciona en una báscula virtual para la visualización inmediata y precisa de su información.</p>
                        <ul class="tags">
                            <li class="tag">Simulación</li>
                            <li class="tag">Capacitación</li>
                            <li class="tag">AR</li>
                            <li class="tag">C#</li>
                        </ul>
                    </main>
                </div>
                <figure class='projectMedia'>
                    <img src='{{url_for("static", filename="img/logistic.png")}}' alt="">
                </figure>
            </div>
            <div class="project b">
                <div class="details">
                    <header class="projectTitle">
                        <h2>VoluMaker</h2>
                        <a class='githubLink' href="https://github.com/JimmyMunozN/AnimationMaker"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </header>
                    <main class="description">
                        <p>Partiendo de una forma 3D básica se pueden utilizar comandos de duplicación, rotación y movimiento en el espacio real para construir estructuras más elaboradas. Finalizado el modelado, la aplicación ofrece herramientas para crear una secuencia de animación simple en 3D.</p>
                        <ul class="tags">
                            <li class="tag">Geometría</li>
                            <li class="tag">Diseño</li>
                            <li class="tag">AR</li>
                            <li class="tag">C#</li>
                        </ul>
                    </main>
                </div>
                <figure class='projectMedia'>
                    <div class="scene">
                        <div id="animationCube" class="cube">
                            <div class="face front"></div>
                            <div class="face left"></div>
                            <div class="face top"></div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="project c">
                <div class="details">
                    <header class="projectTitle">
                        <h2>DigiWallet</h2>
                        <a class='githubLink' href="https://github.com/JimmyMunozN/CreditCards"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </header>
                    <main class="description">
                        <p>Dirigida a instituciones financieras permite la visualización avanzada de productos bancarios. Los usuarios pueden seleccionar una tarjeta específica para interactuar con un modelo 3D fiel y posteriormente se presenta un panel informativo con las ventajas, desventajas y especificaciones de la tarjeta seleccionada.</p>
                        <ul class="tags">
                            <li class="tag">Visualización 3D</li>
                            <li class="tag">AR</li>
                            <li class="tag">C#</li>
                        </ul>
                    </main>
                </div>
                <figure class='projectMedia'>
                    <img src='{{url_for("static", filename="img/card.png")}}' alt="">
                </figure>
            </div>
            <div class="project d">
                <div class="details">
                    <header class="projectTitle">
                        <h2>Nexus AR</h2>
                        <a class='githubLink' href="https://github.com/JimmyMunozN/BasicPuzzle"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </header>
                    <main class="description">
                        <p>Diseñada para la identificación de áreas organizacionales, el objetivo es que el usuario relacione y conecte lógicamente tres modelos 3D distintos y determine el departamento o área específica de la empresa a la que corresponden.</p>
                        <ul class="tags">
                            <li class="tag">Lúdico</li>
                            <li class="tag">Capacitación</li>
                            <li class="tag">AR</li>
                            <li class="tag">C#</li>
                        </ul>
                    </main>
                </div>
                <figure class='projectMedia'>
                    <img src='{{url_for("static", filename="img/puzzle.png")}}' alt="">
                </figure>
            </div>
            <div class="project e">
                <div class="details">
                    <header class="projectTitle">
                        <h2>LinkScope</h2>
                        <a class='githubLink' href="https://github.com/JimmyMunozN/Conections"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </header>
                    <main class="description">
                        <p>Se enfoca en la comparativa y estudio de arquitecturas de red. Permite al usuario seleccionar entre modelos de redes tradicionales o NGN (Next Generation Network) para realizar ejercicios de conexión. Su funcionalidad principal es evaluar y estudiar las posibilidades de interconexión.</p>
                        <ul class="tags">
                            <li class="tag">Simulación</li>
                            <li class="tag">Estudio</li>
                            <li class="tag">AR</li>
                            <li class="tag">C#</li>
                        </ul>
                    </main>
                </div>
                <figure class='projectMedia'>
                    <img src='{{url_for("static", filename="img/router.png")}}' alt="">
                </figure>
            </div>
            <div class="project f">
                <div class="details">
                    <header class="projectTitle">
                        <h2>CoinKeeper</h2>
                        <a class='githubLink' href="https://github.com/JimmyMunozN/CoinKeeper"><i class="fa fa-github" style="font-size:24px"></i></a>
                    </header>
                    <main class="description">
                        <p>Aplicación web de gestión de finanzas personales diseñada para ofrecer al usuario un control exhaustivo y analítico sobre su situación económica. Se centra en la captura y clasificación estructurada de transacciones, permitiendo un registro detallado, además integra módulos para visualizaciones gráficas y cálculos financieros.</p>
                        <ul class="tags">
                            <li class="tag">Finanzas</li>
                            <li class="tag">WebPage</li>
                            <li class="tag">JavaScript</li>
                        </ul>
                    </main>
                </div>
                <figure class='projectMedia'>
                    <img src='{{url_for("static", filename="img/coinkeeper.png")}}' alt="">
                </figure>
            </div>
        </div>
        <svg class="prev" width="100" height="60" viewBox="-20 0 140 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <polyline points="65,10 40,30 65,50" stroke="#1a2740" stroke-width="8" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
                <polyline points="50,10 25,30 50,50" stroke="#1a2740" stroke-width="8" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
                <polyline points="35,10 10,30 35,50" stroke="#1a2740" stroke-width="8" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
        </svg>
        <svg class="next" width="100" height="60" viewBox="-20 0 140 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <polyline points="35,10 60,30 35,50" stroke="#1a2740" stroke-width="8" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
                <polyline points="50,10 75,30 50,50" stroke="#1a2740" stroke-width="8" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
                <polyline points="65,10 90,30 65,50" stroke="#1a2740" stroke-width="8" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
        </svg>
    </div>

    <div class="techStack">
        <header>
            <h2>Tech Stack</h2>
        </header>
        <main>
            
        </main>
    </div>
</div>